<div class="container divinicial">
	<div class="col-md-2 offset-md-10">
		<button  type="button" class="btn btn-primary botoncrear" [routerLink]="['crearUsuario']"><i class="far fa-trash-alt iconboton"></i> Crear</button>
	</div>
	<ng-container *ngIf="usuarios != null">
		<ng-container *ngIf="usuarios.length > 0">
			<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">Nombre</th>
							<th scope="col">Email</th>
							<th scope="col">Sexo</th>
							<th scope="col">Area</th>
							<th scope="col">Boletín</th>
							<th scope="col">Modificar</th>
							<th scope="col">Eliminar</th>
						</tr>
					</thead>
					<tbody>
					<tr *ngFor="let usuario of usuarios">     
							<td>{{usuario.nombre}}</td>
							<td>{{usuario.email}}</td>
							<td>{{usuario.sexo}}</td>
							<td>{{usuario.area}}</td>
							<td>{{usuario.boletin}}</td>
							<td><i class="fas fa-edit" (click)="editarUsuario(usuario.id)" [routerLink]="['editarUsuario', usuario.id]"> </i></td>
							<td><i class="far fa-trash-alt" (click)="eliminarUsuario(usuario.id)"></i></td>
						</tr>
					</tbody>
				</table>
		</ng-container>
	</ng-container>
</div>		
