/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.rojo {
	background-color: #e21f26;
}

.divinicial{
	margin-top: 80px;
}

.fas, .far{
    color: #e21f26;;
}

.iconboton{
	color:white;
}

.botoncrear{
	margin: 10px 10px 10px 10px;
}

.ng-valid[required], .ng-valid.required  {
	border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
	border-left: 5px solid #a94442; /* red */
  }