<div class="container divinicial">
<form>
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Nombre Completo</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="inputNombre" [(ngModel)]="usuario.nombre" id="inputEmail3" placeholder="Nombre completo del empleado">
    </div>
  </div>
  <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-2 pt-0">Sexo</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios"  [(ngModel)]="sexo" id="gridRadios1" value="option1" checked>
          <label class="form-check-label" for="gridRadios1">
            masculino
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios"  [(ngModel)]="sexo" id="gridRadios2" value="option2">
          <label class="form-check-label" for="gridRadios2">
            femenino
          </label>
        </div>
      </div>
    </div>
  </fieldset>
  <div class="form-group row">
     <label for="inputArea" class="col-sm-2 col-form-label">Area</label>
    	<div class="col-sm-10">
	     <select id="inputArea" class="form-control" name="inputArea" [(ngModel)]="tipoCanalAsign">
          <option selected>Escoger...</option>
          <option [value]="0">Administracion</option>
	        <option [value]="1">Calidad</option>
	        <option [value]="2">Produccion</option>
	        <option [value]="3">Ventas</option>
	      </select>
      </div>
  </div>
   <div class="form-group row">
    <label for="exampleFormControlTextarea1" class="col-sm-2 col-form-label">Descripcion</label>
    <div class="col-sm-10">
    <textarea class="form-control" name="inputTextArea" id="exampleFormControlTextarea1" rows="3"  [(ngModel)]="usuario.descripcion"></textarea>
    </div>
  </div>
  
  <div class="form-group row">
    <div class="col-sm-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck1"  [(ngModel)]="boletin">
        <label class="form-check-label" name="inputcheck" for="gridCheck1">
          Deseo recibir boletin informativo
        </label>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
  </div>
</form>	
</div>
